
IC/Practica2/Simulacion/temp\.txt

IC/Practica2/Simulacion/Situacionfinal\.txt

*.directory

\.idea/

*.pkl

IC/Practica2/Simulacion/DatosE\.txt

IC/Practica2/Simulacion/DatosT\.txt

MH/Practica3/Software/FUENTES/__pycache__/

IC/Practica2/Simulacion/aux\.clp

IC/Practica2/Simulacion/DatosEmpleados\.txt
